#loginBtn {
    background-color: #e0e0e0;
    border-color: darkgrey;
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
}

#BoxAdmin {
    height: 800px;
    width: 100%;
    background-color: #e0e0e0;
    border: 1px solid black;
    display: none;
}

#benutzername, #password {
    border-color: #e0e0e0;
    width: 90%;
    margin: 5%;
    margin-top: 2%;
}

#nachrichtensymbol {
    padding: -14px;
    margin: -14px;
}

#logoutBtn, #BoxProfilseite {
    display: none;
}

/*Navigation & Header*/

#Logo {
    width: 300px;
    height: 50px;
    margin-top: 20px;
}

.navbar {
    background-color: #8dabd3;
    height: 80px;
    width: 100%;
}

.nav-link {
    margin-left: 130px;
    margin-top: 20px;
}

.anmelden {
    padding: 2px;
    margin-bottom: 20px;

}

.registrieren {
    padding: 2px;
    margin-top: 30px;
    width: 30px;
    height: 20px;
}

#HeaderBereich {
    margin-top: 20px;
}

#suche {
    border: 1px solid #999;
    border-radius: 0.5em;
    ;
    font-size: 1.2em;
    width: 60%;
    transition: width 0.5s ease-in-out;
    position: center;
    padding: 1px;
    margin-left: 60px;
}

#kategorien {
    font-size: larger;
    width: 10%;
    padding: 3px;
    margin-left: 22px;
}

.anfragesenden {
    padding: 3px;
    float: right;
    margin-right: 20px;
}

.verkaufen {
    padding: 3px;
    float: right;
    margin-left: 20px;
}


/*Footer*/

#BoxFooter {
    background-color: #8dabd3;
    height: 100px;
}

#LogoFooter {
    width: 200px;
    height: 50px;
    margin-left: 100px;
    margin-top: 25px;
}

.col-md-2 {
    margin-left: 60px;
    margin-top: 35px;
}

/*SLIDER*/

* {
    box-sizing: border-box
}

/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */

.mySlides {}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*Anfang der Box Startseite-----------------*/

#BoxStartseite {
    height: 1700px;
    width: 100%;
    background-color: #e0e0e0;
    border: solid 1px black;

}

img {
    width: 250px;
    height: 200px;
}

/* Anfang der Box Ueber uns -----------------*/


#BoxUeberUns {
    width: 100%;
    height: 800px;
    margin-right: 100px;
    background-color: #e0e0e0;
    border: solid 1px black;


}


.ueberschrift {
    margin-left: 550px;
    font-size: xx-large;
    margin-top: 70px;

}

.Text {
    margin-left: 240px;
    font-size: large;
    margin-top: 120px;
}

.Text1 {
    margin-top: 5px;
    margin-left: 240px;
    font-size: large;
}

.Text2 {
    margin-top: 10px;
    margin-left: 560px;
    font-size: large;
}

.Text3 {
    margin-top: 10px;
    margin-left: 240px;
    font-size: large;
}
/*ENDE ÜBER UNS----------------------------*/

/*Anfang der Box Produktauswahl----------------*/

#BoxProduktauswahl {
    height: 1100px;
    width: 100%;
    background-color:#e0e0e0;
    border: solid 1px;
}
#BeschreibungimMomentbeliebt{
    margin-top:180px;
}

#ImMomentBeliebt1{
    margin-top: 100px;
}

.ersteueberschrift{
    font-size: x-large;
}

.zweiteuberschrift{
    font-size:x-large;
}

img {
    height: 20%;
    width: 25%;
    margin-top: 0px;
}

#dropdownsortieren {

    width: 10%;
    height: 20px;
    padding: 1px;
    box-sizing: border-box;

}

h2 {
    margin-left: 5px;
}

#farbecheckbox {
    margin: 20px;
    margin-left: 5px;
}


h3 {
    margin: 20px;
    margin-left: 3px;
}

#bewertencheckbox {
    margin: 30px;
    margin-left: 5px;
}

h4 {
    margin: 3px;

}

#gewichtcheckbox {
    margin: 20px;
    margin-left: 5px;
}

#Produkt1 {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 800px;
    height: 200px;
}

#Produkt2 {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 800px;
    height: 200px;
}

#Produkt3 {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 800px;
    height: 200px;
}

.product_box_container {
    margin-top: 40px;
    font-size: medium;
}

.product_box {
    height: 250px;
    display: flex;
    border-width: 1px;
    border-style: solid;
    background-color: white;
}

.product_img {
    height: 246px;
    width: 35%;
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin-left: 13px;
}

.product_box_info {
    padding: 20px;
    width: 75%;
}

.d-block {
    height: 400px;
}

.table-wrapper-2 {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
/* Anfang der Box Produkt Detailseite--------*/

#BoxProduktDetail {
    height: 800px;
    width: 100%;
    background-color:#e0e0e0;
    border: solid 1px black;
}

#Bezahlart {
    background-color: white;
    margin-top: 100px;
    width: 40%;
    padding: 7px;
}

#Versandoption {
    background-color: white;
    width: 40%;
    padding: 7px;
    margin-top: 5px;
}

.Kaufanfragesenden {
    background-color: grey;
    margin-top: 40px;
    width: 40%;
    padding: 7px;
}

.Profilansehen {
    background-color: grey;
    width: 40%;
    margin-top: 25px;
    padding: 7px;
}

#Teddybär {
    margin-top: 100px;
    margin-left: 170px;
    height: 300px;
    width: 250px;
}

#DetailBild1 {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    margin-left: 250px;
    margin-top: 20px;
}

#Detailbild2 {
    width: 60px;
    height: 60px;
    margin-top: 20px;

}

#ProduktÜberschrift {
    margin-top: 90px;
    text-align: left;
}

#Beschreibung {
    margin-top: 30px;
    text-align: left;
}

/*Anfang der Box Profilansicht --------*/

#BoxProfilseite {
    height: 800px;
    width: 100%;
    background-color: #e0e0e0;
    border: 1px solid black;
}

#Muttermitkind {
    height: 210px;
    width: 180px;
    margin-left: 60px;
    margin-top: 80px;
}

#dateien {
    margin-top: 5px;
    margin-left: 75px;
}

.bearbeitenbutton {
    background-color: #d7a9bd;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    margin-left: 75px;
}

#produktanlegenBtn{
    background-color: grey;
    margin-top: 20px;
    width: 38%;
    margin-right: 50px;
    height: 40px;
    padding: 7px;

}

#produktloeschenBtn {
    background-color: grey;
    width: 38%;
    height: 42px;
    margin-top: 20px;
    padding: 7px;
}

#produktändernBtn {
    background-color: #d7a9bd;
    width: 40%;
    padding: 7px;
    margin-left: 200px;
    height: 40px;
}

.schriftmeinprofil {
    margin-top: 75px;
    margin-left: 80px;
}

.registervorname {
    margin-top: 40px;
    margin-left: 16px;
}

.registernachname {
    margin-top: 40px;
}

.reginutzername {
    margin-top: 15px;
    width: 90%;
}

.regiemail {
    margin-top: 15px;
}

.regipassword {
    margin-top: 10px;
    margin-right: 5px;

}

.regipasswortwiederholung {
margin-bottom: 89px;
    margin-right: 90px;
}

.nachrichtsendenbutton {
    background-color: #8dabd3;
    color: black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    margin-left: 100px;
    margin-top: 150px;
    border: 1px solid black;
}

.bewertenbutton {
    background-color: #d7a9bd;
    color: black;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    margin-left: 100px;
    margin-top: 5px;
    border: 1px solid black;
}

.checkboxNewsletter {
    margin-left: 100px;
    margin-top: 5px;
    padding: 10px;
}

.registerbutton {
    background-color: #e0e0e0;
    color: black;
    padding: 10px;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    border: 1px solid black;
    margin-left: 100px;
    margin-top: 40px;
    margin-right: 600px;
}


.ratingstar {
    color: black;
}

#carouselExampleIndicators {
    margin: 20px;
}

/*Anfang der Box Nachrichtenseite*/

#BoxNachrichten {
    height: 1000px;
    width: 100%;
    background-color: #e0e0e0;
}

#NachrichtenÜberschrift{
    margin-left:650px;
}

#nachrichtfeld1 {
    height: 200px;
    width: 800px;
}


#NachrichtSenden {
    background-color: #8dabd3;
    padding: 7px;
    width: 15%;
    margin-left: 400px;
    margin-right: 5px;

}

#NachrichtAbbrechen {
    background-color: #8dabd3;
    padding: 7px;
    width: 15%;
}

#NachrichtAntworten {
    background-color: #8dabd3;
    padding: 7px;
    width: 15%;
    margin-top: -150px;
    margin-right: 90px;
}

#NachrichtLöschen {
    background-color: #8dabd3;
    padding: 7px;
    width: 15%;
    margin-right: 90px;
    margin-top: -130px;
}

#NachrichtBild1{
    width:18%;
    height: 180px;
    margin-top: 30px;
}

#NachrichtBild2{
    width:18%;
    height: 180px;
}

#KaufanfrageAnnehmen {
    background-color: #8dabd3;
    padding: 7px;
    width: 15%;
    margin-top: 100px;
    margin-right: 440px;
}

#KaufanfrageAblehnen {
    background-color: #8dabd3;
    padding: 7px;
    width: 15%;
    margin-top: 100px;
    margin-right: 10px;
}

.box1 {
    margin-top: 100px;
    width: 1200px;
    margin-left: 150px;
}

#textfeld {
    margin-top: 60px;
    margin-left: 250px;
}

.box2 {
    margin-top: 100px;
    width: 1200px;
    margin-left: 150px;
    height: 150px;
}

#SortierenDropdown {
    width: 12%;
    padding: 7px;
    float: right;
    margin-top: 20px;
    margin-right: 70px;
}

#textfeld2 {
    width: 200px;
    margin-left: 250px;
    margin-top: -110px;
}

/*Teil von Box Produktauswahl*/


#userForm {
    margin-top: 250px;
    margin-left: 250px;
}

#createBtn{
    margin-top: 10px;
}

#Logo2{
    width: 130px;
    height: 40px;
    margin-left: 10px;
    margin-top: 25px;
}

/*INPUT-FELDER DER PRODUKT DETAILSEITE----------------------------------*/
#beschreibungInput{
    height: 100px;
    width: 70%;
    background-color: #e0e0e0;
    border: solid 1px #e0e0e0;
}

#preisInput{
    height: 50px;
    width: 30%;
    background-color: #e0e0e0;
    border: solid 1px #e0e0e0;
    font-style: initial;
}

#groesseInput {
    height: 50px;
    width: 30%;
    background-color: #e0e0e0;
    border: solid 1px #e0e0e0;
    font-style: initial;
}

#IDInput{
    height: 50px;
    width: 30%;
    background-color: #e0e0e0;
    border: solid 1px #e0e0e0;
    font-style: initial;
}
/*INPUT-FELDER DER PRODUKT DETAILSEITE ENDE----------------------------*/

/*Anfang der Box Footer-------------------------------------*/
#BoxFooterSeite{
    height: 800px;
    width: 100%;
    background-color: #e0e0e0;
    border: 1px solid black;

}

.adressen{
    margin-left: 200px;
}

.btn-infoFooter{
    margin-bottom: 30px;
    margin-left: 628px;
}


#BenutzernameanzeigenBtn{
    padding: 7px;
    width: 40%;

}

#sortierenProduktauswahl{
    margin-left: 960px;
    width: 50%;
    padding: 7px;
}

#zustandProduktauswahl{
    margin-right: 50px;
    margin-top:5px;
    width: 50%;
    padding: 7px;
}