#loginBtn {
    background-color: #e0e0e0;
    border-color: darkgrey;
    width: 90%;
    margin-left: 5%;
}

#benutzername, #password {
    border-color: darkgrey;
    width: 90%;
    margin: 5%;
    margin-top: 2%;
}

#nachrichtsymbol {
    padding: -14px;
    margin: -14px;
}




/********************************/
#BoxStartseite {
    height: 1300px;
    width: 100%;
    background-color: #e0e0e0;
}

img{
    width: 250px;
    height:200px;
    margin: auto;
}

#Logo {
    width: 200px;
    height: 50px;
    margin-left: 0px;

}
.anmelden{
    padding: 7px;
}

.registrieren{
    padding: 7px;
}


#HeaderBereich{
    margin-top: 20px;
}

#suche{
    border: 1px solid #999;
    border-radius: 0.5em;;
    font-size: 1.2em;
    width: 40em;
    transition: width 0.5s ease-in-out;
    margin: 5px;
    position: center;
    margin-top: 0px;
    padding: 7px;

}

#kategorien{
    font-size: larger;
    margin: 5px;
    width: 15%;
    padding: 7px;
}

.anfragesenden{
    padding:7px;
    margin-left: 30px;
}

.verkaufen {
    padding: 7px;
    margin-right: 10px;
}

.navbar{
    background-color: #8dabd3;
}

.nav-link{
    margin-left: 130px;
    margin-top: 5px;

}

/*SLIDER*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #8dabd3;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


#BoxStartseite {
    height: 1300px;
    width: 100%;
    background-color: #e0e0e0;
}

img {
    width: 250px;
    height: 200px;
    margin: 0 15px 15px;
}

    /* Anfang der Box Ueber uns */
#BoxUeberuns {
    height: 800px;
    width: 100%;
    background-color: white;

}

.ueberschrift{
    margin-left:500px;
    font-family:"Source Code Pro";
    font-size: xx-large;
    margin-top:80px;

}



.Text{

    margin-left: 300px;
    font-family:"Source Code Pro";
    font-size: large;
    margin-top: 120px;

}

.Text1{
    margin-top: 5px;
    margin-left: 300px;
    font-family: "Source Code Pro";
    font-size: large;
}

.Text2{
    margin-top: 10px;
    margin-left: 430px;
    font-family: "Source Code Pro";
    font-size: large;
}

.Text3{
    margin-top: 10px;
    margin-left: 300px;
    font-family: "Source Code Pro";
    font-size: large;
}

#BoxProduktauswahl{
    height: 1800px;
    width: 100%;
    background-color: #e0e0e0;
}
img{
    height:200px;
    width: 250px;
    margin-left:120px;
    margin-top: 0px;
    margin-bottom: 30px;
}


#dropdownsortieren {
    left: 500px;
    width: 10%;
    height: 20px;
    margin-right: 2%;
    padding: 1px;
    box-sizing: border-box;
    margin-bottom: -25px;
    margin-top: -25px;
}

h2
{
    margin: 20px;
    margin-left: -130px;

}

#farbecheckbox
{
    margin: 20px;
    margin-left: -130px;
}

h3 {
    margin: 20px;
    margin-left: -130px;
}
#bewertencheckbox {
    margin: 30px;
    margin-left: -130px;
}

h4
{
    margin: 30px;
    margin-left: -130px;
}

#gewichtcheckbox
{
    margin: 20px;
    margin-left: -130px;
}
#Produkt1 {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 800px;
    height: 200px;
    margin-left:105px;
    margin-top: -230px;
    margin-bottom: 10px;
}
#Produkt2 {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 800px;
    height: 200px;
    margin-left:100px;
}
#Produkt3 {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 800px;
    height: 200px;
    margin-left:100px;
}


#BoxProduktDetail{
    height: 800px;
    width: 100%;
    background-color: white;
}

#Bezahlart{
    background-color: #e0e0e0;
    margin-top: 220px;
    margin-right: 10px;
    margin-left: auto;
    width: 40%;
    padding: 7px;
}

#Versandoption{
    background-color: #e0e0e0;
    margin: 25px;
    margin-right: 10px;
    margin-left: auto;
    width: 40%;
    padding: 7px;
}


.Kaufanfragesenden{
    background-color: grey;
    margin-top: 170px;
    width: 40%;
    margin-right: 10px;
    margin-left: auto;
    padding: 7px;
}

.Profilansehen{
    background-color: grey;
    width: 40%;
    margin-right: 10px;
    margin-left: auto;
    margin-top: 25px;
    padding: 7px;
}

#Teddybär{
    margin-top: 100px;
    margin-left: 100px;
    height: 300px;
}

#DetailBild1{
    width: 60px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 160px;
}

#Detailbild2{
    width: 60px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.ProduktBearbeiten{
    padding: 7px;
    background-color:#d7a9bd;
    margin-left: 145px;

}

#ProduktÜberschrift{
    margin-top: 110px;
    text-align: left;
}

#Beschreibung{
    margin-top: 30px;
}

/*Hier beginnt die Profilansicht in CSS*/
#BoxProfilseite {
    height: 800px;
    width: 100%;
    background-color: #e0e0e0;
}

#Muttermitkind{
    height: 210px;
    width: 180px;
    margin-left: 60px;
    margin-top: 80px;
}

#dateien{
    margin-top: 5px;
    margin-left: 75px;
}
.bearbeitenbutton{
    background-color:#d7a9bd;
    color: black;
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    margin-left: 75px;
    margin-top: 10px;
    border: 1px solid black;
}


.schriftmeinprofil{
    margin-top: 75px;
    margin-left: 50px;
}

.registervorname{
    margin-top: 40px;
    margin-right: 50px;

}

.registernachname{
    margin-top: -29px;
    margin-left: 150px;
}

.reginutzername{
    margin-top: 15px;
}

.regiemail{
    margin-top: 15px;
}

.regipassword{
    margin-top: 18px;
}

.regipasswortwiederholung{
    margin-top: -30px;
    margin-left: 110px;
}

.regiadresse{
    margin-top: 15px;

}
.regihausnr{
    margin-top: -30px;
    margin-left: 210px;
}

.regiplz{
    margin-top: 20px;
}

.regiwohnort{
    margin-top: -30px;
    margin-left: 100px;
}

.nachrichtsendenbutton{
    background-color: #8dabd3;
    color: black;
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    margin-left: 100px;
    margin-top: 150px;
    border: 1px solid black;
}

.bewertenbutton{
    background-color:#d7a9bd;
    color: black;
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    margin-left: 100px;
    margin-top: 5px;
    border: 1px solid black;
}

.checkboxNewsletter{
    margin-left: 100px;
    margin-top: 5px;
    padding:10px;

}

.registerbutton{
    background-color: #e0e0e0;
    color:black;
    padding: 10px;
    margin:10px;
    border:none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    border: 1px solid black;
    margin-left: 100px;
    margin-top: 40px;
    margin-right: 600px;
}

.dropdownZahlart{
    margin-top: 20px;
}

.ratingstar {
    color: orange;
}

<!--ENDE PROFILSEITE-->


